In [2]:
import numpy as np
import pandas as pd

In [3]:
xgboost = pd.read_csv('XGBoost_w_Hyperparameters.csv')
randomforest = pd.read_csv('Random_Forest_w_Hyperparameters.csv')
genderclass = pd.read_csv('genderclassmodel.csv')
svc = pd.read_csv('SVC_CLF.csv')
knn = pd.read_csv('KNN_CLF.csv')

In [4]:
dfcomb = pd.merge(xgboost, randomforest, how='outer', on='PassengerId')

dfcomb = pd.merge(dfcomb, genderclass, how='outer', on='PassengerId')
dfcomb = pd.merge(dfcomb, svc, how='outer', on='PassengerId')
dfcomb = pd.merge(dfcomb, knn, how='outer', on='PassengerId')

In [5]:
dfcomb.head()

   PassengerId  Survived_x  Survived_y  Survived_x  Survived_y  Survived
0          892           0           0           0           0         0
1          893           1           0           1           0         0
2          894           0           0           0           0         0
3          895           0           0           0           0         1
4          896           1           1           1           1         0

In [7]:
dfcomb['SurvivedF'] = dfcomb.mode(axis=1)

In [8]:
dfcomb.head()

,PassengerId,Survived_x,Survived_y,Survived_x,Survived_y,Survived,SurvivedF
0,892,0,0,0,0,0,0
1,893,1,0,1,0,0,0
2,894,0,0,0,0,0,0
3,895,0,0,0,0,1,0
4,896,1,1,1,1,0,1

In [9]:
dfcomb.drop(['Survived_x', 'Survived_y', 'Survived'], axis=1, inplace=True)

In [10]:
dfcomb.head()

   PassengerId  SurvivedF
0          892          0
1          893          0
2          894          0
3          895          0
4          896          1

In [11]:
dfcomb.rename(columns = {'SurvivedF' : 'Survived'}, inplace=True)

In [12]:
dfcomb.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [13]:
dfcomb[['PassengerId','Survived']].to_csv('Ensemble_XG_RF_GenClass_KNN_SVC.csv',index=False)